# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.SEP3_Group4.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\SEP3Proj\SEP3_Group4\.idea\.idea.SEP3_Group4\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
