@inherits LayoutComponentBase
@using LoginComponent

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <div class="main">
        <div class="top-row px-4 auth">
            
            <!-- These component is from template -->
            <!--  LoginDisplay/ -->
            <AuthorizeView Policy="user">
            <Login/>
            </AuthorizeView>
            
            
            
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>