<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">TierOne</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">


        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>

        <AuthorizeView>
            <NotAuthorized >
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="Register">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Register
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="Login">
                        <span class="oi oi-box" aria-hidden="true"></span> Login
                    </NavLink>
                </li>
            </NotAuthorized >
        </AuthorizeView>


        <AuthorizeView Policy="manager">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="AllUsers">
                    <span class="oi oi-box" aria-hidden="true"></span> View All Users
                </NavLink>
            </li>
        </AuthorizeView>

        <AuthorizeView Policy="manager">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="NewProduct">
                    <span class="oi oi-box" aria-hidden="true"></span> New Product - AdmMan
                </NavLink>
            </li>
        </AuthorizeView>
        
        <AuthorizeView Policy="manager">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="Categories">
                    <span class="oi oi-box" aria-hidden="true"></span> Categories - Man
                </NavLink>
            </li>
            </AuthorizeView>

        <AuthorizeView Policy="user">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="ViewBids">
                    <span class="oi oi-box" aria-hidden="true"></span> View Bids - Users
                </NavLink>
            </li>
        </AuthorizeView>
        
        


        <AuthorizeView Policy="user"> </AuthorizeView>
        <AuthorizeView Policy="manager"> </AuthorizeView>
        <AuthorizeView Policy="admin"> </AuthorizeView>


    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}