@page "/Register"
@using TierOne.Data
@inject IUserManager UserManager
@inject NavigationManager NavigationManager



<h3> Register new user </h3>
<EditForm Model="@NewUserToRegister" OnValidSubmit="@AddNewUser">
    <DataAnnotationsValidator/> <ValidationSummary/>
    <div class="form-group"> Username:<br/> <InputText  @bind-Value="NewUserToRegister.UserName"/> </div>
    <div class="form-group"> Password:<br/> <InputText  rows="4" @bind-Value="NewUserToRegister.Password"/> </div>
    <div class="form-group"> Repeat Password:<br/> <InputText  rows="4" @bind-Value="NewUserToRegister.Password"/> </div>
    <div class="form-group"> First Name:<br/> <InputText  rows="4" @bind-Value="NewUserToRegister.FirstName"/> </div>
    <div class="form-group"> Last Name:<br/> <InputText  rows="4" @bind-Value="NewUserToRegister.LastName"/> </div>
    <div class="form-group"> Date of Birth:<br/> <InputText  rows="4" @bind-Value="NewUserToRegister.Dob"/> </div>
    <div class="form-group"> Mail:<br/> <InputText  rows="4" @bind-Value="NewUserToRegister.Email"/> </div>
    <div class="form-group"> Address:<br/> <InputText  rows="4" @bind-Value="NewUserToRegister.Address"/> </div>
    <div class="form-group"> Postal Index:<br/> <InputText  rows="4" @bind-Value="NewUserToRegister.PostalIndex"/> </div>
    <div class="form-group"> Card:<br/> <InputText  rows="4" @bind-Value="NewUserToRegister.Card"/> </div>
    <div class="form-group"> Card Date:<br/> <InputText  rows="4" @bind-Value="NewUserToRegister.CardDate"/> </div>
    <p class="actions">
        <button class="btn btn-outline-dark" type="submit">Create new accaunt</button>
    </p>
</EditForm>

@code {
    private User NewUserToRegister = new User();

    private async Task AddNewUser()
    {
        NewUserToRegister.Type = "user";

    // Requesting tier 2 to register a user and getting the response
        bool response=  await UserManager.RegisterNewUser(NewUserToRegister);

        if (response)
        {
            Console.WriteLine("it worked!!!!");
            NavigationManager.NavigateTo("/Index");
        }
        else
        {
            Console.WriteLine("smth went wrong");
            // TODO write r message label
        }
        
    }

}